#toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #10B981; 
    color: white;
    padding: 1rem;
    border-radius: 0.5rem; /* rounded-lg */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-lg */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 50;
}

#toast.show {
    opacity: 1;
    visibility: visible;
}


.page {
    display: none;
}


#page-home {
    display: block;
}


.product-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
}